<h3><%= game_msg %></h3>

<form method ="post" action ="get_random_move">
<input class ="aisubmit" type ="submit" name ="submit" value ="Make a Move">
</form>

<table class ="col-9">
    <tr>
        <td class ="bottom right"><%= board[0] %></td>
        <td class ="bottom right"><%= board[1] %></td>
        <td class ="bottom"><%= board[2] %></td>
    </tr>
    <tr>
        <td class ="bottom right"><%= board[3] %></td>
        <td class ="bottom right"><%= board[4] %></td>
        <td class ="bottom"><%= board[5] %></td>
    </tr>
    <tr>
        <td class ="right"><%= board[6] %></td>
        <td class ="right"><%= board[7] %></td>
        <td><%= board[8] %></td>
    </tr>
</table>